<!DOCTYPE html>

<html>


<head>
    <title>Weather app</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/png"
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
</body>

</html>